<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div class="recipe-new-link">
  <%= link_to "New", new_user_recipe_path(current_user), class:"black-btn new-recipe" %>
</div>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= link_to user_recipe_path(current_user, recipe) do %>
      <%= render recipe %>
    <% end %>
  <% end %>
</div>


