<h1>Editing food</h1>

<%= render "form", food: @food %>

<br>

<div>
  <%= link_to "Show this food", user_food_path(current_user, @food) %> |
  <%= link_to "Back to foods", user_foods_path(current_user) %>
</div>
