<p style="color: green"><%= notice %></p>

<h1>Recipe foods</h1>
<%= link_to "Add Ingredient", new_user_recipe_recipe_food_path(current_user, @recipe), class: "add-food-link" %>
<div id="recipe_foods">

    <%= render "table_header" %>

      <% @recipe_foods.includes(:food).each do |recipe_food| %>
        <%= render recipe_food %>
      <% end %>

    </table>
  </div>
</div>
